table{
    color: white;
    text-align: center;
    border-collapse: collapse;
    font: normal 3em Arial, Helvetica, sans-serif;
}

tr{
    height: 16.02vh; /*Each row has a height of 16.02% of the vertical height of the window, this makes it so that each row has more or less equal size and fills the window*/
    background-color: #4e494d;
}

td{
    width: 25vw; /*4 columns at most and each column /item will be a quarter of the window width(25%)*/
    border: 1px solid #4e494d;
}

#inputbox{
    background-color: #4e494d;
    text-align: right;
    width: 99%;
    font-size: 2em;
    color: white;
    border: 0px;
}

.digitButton{
    background-color: #807e80;
}

.operatorButton{
    background-color: #ff9e06;
}

.ACButton{
    background-color: #656165;
}